snippet click "ng-click"
ng-click="${1}"$0
endsnippet

snippet hide "ng-hide"
ng-hide="${1}"$0
endsnippet

snippet show "ng-show"
ng-show="${1}"$0
endsnippet

snippet if "ng-if"
ng-if="${1}"$0
endsnippet

snippet class "ng-class"
ng-class="{${1}:${2}}"$0
endsnippet

snippet repeat "ng-repeat"
ng-repeat="${1} in ${2:$1}s"$0
endsnippet

